body, html
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: black;

    background-repeat: no-repeat;
    background-size: auto;
}

body
{
    color: white;
}


  .tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

#Home {background-color:red;}
#Agronomy {background-color:green;}
#Irrigation {background-color:blue;}


.iframe
{
  height: 520px;
  width: 100%;
  position: absolute;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}



.tab1
{
  align: center;
  width: 100%;
  border: 1px solid white;
}
