body, html
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: black;

    background-repeat: no-repeat;
    background-size: auto;
}

body
{
    color: white;
}

.iframe
{
  height: 520px;
  width: 100%;
  position: absolute;
}

.tab1
{
  text-align: center;
  width: 100%;
  border: 1px solid white;
}


table.colright td:nth-child(2) {
  text-align: left;
}

.tabName
{
  text-align: left;
  width: 100%;
  border: 1px solid white;
}
