body, html
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: white;

    background-repeat: no-repeat;
    background-size: auto;
}

body
{
    font-family: 'Raleway', sans-serif;
    color: black;
}

h1
{
	text-align: center;
}

.iframe
{
  height: 520px;
  width: 100%;
  position: absolute;
}

.tab1
{
  text-align: center;
  width: 100%;
  border: 1px solid white;
}

.tabName
{
  text-align: left;
  width: 100%;
  border: 1px solid black;
}
